# Database Feature Selections

In [17]:
!conda install --yes tqdm

Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment /Users/uyen/anaconda:

The following NEW packages will be INSTALLED:

    tqdm: 4.19.4-py36he502594_0

tqdm-4.19.4-py 100% |################################| Time: 0:00:00 727.76 kB/s

In [2]:
!conda install psycopg2 --yes

Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment /Users/uyen/anaconda:

The following NEW packages will be INSTALLED:

    libpq:    9.5.4-0
    psycopg2: 2.7.3.1-py36h1723d43_0

libpq-9.5.4-0. 100% |################################| Time: 0:00:00   1.08 MB/s
psycopg2-2.7.3 100% |################################| Time: 0:00:01 218.80 kB/s

In [2]:
%run ../__init__.py
%matplotlib inline

In [4]:
database_1 = pd.read_pickle('../Datasets/database_1.p')
database_2 = pd.read_pickle('../Datasets/database_2.p')
database_3 = pd.read_pickle('../Datasets/database_3.p')

In [5]:
db_y_1 = database_1['target']
db_x_1 = database_1.drop(['target'], 1)
db_x_1.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_990,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999
0,68,-1.601151,0.015830,-0.797396,-0.773659,0.794560,-0.723385,2.551907,-1.419732,1.095865,...,-1.647478,1.472390,0.402376,0.205470,0.918775,-1.245515,0.963861,-1.047589,-2.167971,0.376090
1,106,-1.180409,1.140129,0.674667,-0.435795,0.443647,0.987556,0.836558,-0.779660,-1.023285,...,1.056871,0.501399,-0.776944,0.139919,1.341844,0.146152,-1.364414,-0.018121,-0.865222,0.422413
2,114,-0.520219,1.103622,-1.036229,-0.716255,-0.060845,0.041324,-0.264753,0.054012,-0.720405,...,-1.289313,1.120850,0.444794,-0.143878,1.131859,-0.590383,0.302393,0.613446,1.117143,1.082976
3,120,-0.662163,-0.136778,0.681523,0.881738,0.374278,-1.825832,-0.001869,1.218144,-0.693351,...,1.497854,1.706526,-2.466427,1.090575,0.174995,-1.001662,-0.677504,-1.647389,0.549608,0.307143
4,150,1.459898,-0.097152,0.978776,-1.726592,0.587427,1.632678,-0.871186,-0.043300,1.247033,...,0.953939,0.743840,-0.977050,0.003572,1.063721,1.255826,-0.531827,1.221130,1.282362,-0.440198

In [13]:
# use this function to find r2 of redundant features 
# dropping a feature and seeing if the other features can predict it
def calculate_r_2_for_feature_tree(data,feature):
    new_data = data.drop(feature, axis=1)

    X_train, \
    X_test,  \
    y_train, \
    y_test = train_test_split(
        new_data,data[feature],test_size=0.25
    )

    regressor = DecisionTreeRegressor()
    regressor.fit(X_train,y_train)

    score = regressor.score(X_test,y_test)
    return score

#use this function to take the mean of the scores after 100 runs
def mean_r2_for_feature_tree(data, feature):
    scores = []
    for _ in range(2):
        scores.append(calculate_r_2_for_feature_tree(data, feature))
        
    scores = np.array(scores)
    return scores.mean()

# use this function to get the mean of scores of multiple columns 
def mean_column_range_tree(l, h, data):  
    r2_tree= []
    for i in tqdm(data.columns[l:h]):
        if mean_r2_for_feature_tree(data, i) > 0:
            r2_tree.append(i)
    return r2_tree

In [28]:
# mean_column_range_tree(1,1001, db_x_1)

 26%|██▌       | 258/1000 [36:01<1:43:36,  8.38s/it]

feat_257 0.835122339958

 27%|██▋       | 270/1000 [37:40<1:41:51,  8.37s/it]

feat_269 0.919153543936

 31%|███       | 309/1000 [43:05<1:36:22,  8.37s/it]

feat_308 0.768073551021

 32%|███▏      | 316/1000 [44:06<1:35:27,  8.37s/it]

feat_315 0.862585885492

 34%|███▎      | 337/1000 [46:57<1:32:23,  8.36s/it]

feat_336 0.853967692079

 34%|███▍      | 342/1000 [47:43<1:31:48,  8.37s/it]

feat_341 0.907962320314

 40%|███▉      | 396/1000 [55:11<1:24:10,  8.36s/it]

feat_395 0.888755951384

 50%|█████     | 505/1000 [1:10:05<1:08:42,  8.33s/it]

feat_504 0.791583909096

 53%|█████▎    | 527/1000 [1:13:17<1:05:46,  8.34s/it]

feat_526 0.770552241662

 64%|██████▍   | 640/1000 [1:29:08<50:08,  8.36s/it]

feat_639 0.962774395507

 68%|██████▊   | 682/1000 [1:34:54<44:15,  8.35s/it]

feat_681 0.762300488874

 70%|███████   | 702/1000 [1:37:40<41:27,  8.35s/it]

feat_701 0.851456894911

 72%|███████▎  | 725/1000 [1:40:51<38:15,  8.35s/it]

feat_724 0.859369711934

 74%|███████▎  | 737/1000 [1:42:32<36:35,  8.35s/it]

feat_736 0.810637812847

 77%|███████▋  | 770/1000 [1:47:02<31:58,  8.34s/it]

feat_769 0.813057508278

 81%|████████  | 809/1000 [1:52:24<26:32,  8.34s/it]

feat_808 0.790409417257

 83%|████████▎ | 830/1000 [1:55:18<23:36,  8.34s/it]

feat_829 0.782674193117

 87%|████████▋ | 868/1000 [2:00:26<18:18,  8.33s/it]

feat_867 0.897934477215

 92%|█████████▏| 921/1000 [2:07:46<10:57,  8.32s/it]

feat_920 0.870574507882

 96%|█████████▌| 957/1000 [2:12:44<05:57,  8.32s/it]

feat_956 0.956232936007

100%|██████████| 1000/1000 [2:18:43<00:00,  8.32s/it]

In [24]:
top_20 = ['feat_257', 'feat_269', 'feat_308', 'feat_315', 'feat_336', 'feat_341', 
                   'feat_395', 'feat_504', 'feat_526', 'feat_639', 'feat_681', 'feat_701', 
                   'feat_724', 'feat_736', 'feat_769', 'feat_808', 'feat_829', 'feat_867',
                   'feat_920', 'feat_956',]

# SelectKBest Method

In [6]:
def skb_top_feats(x, y):
    X_train, X_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    test_size=.2, 
                                                    random_state=42)
    
    scaler = StandardScaler()
    
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    skb_list = []
    skb = SelectKBest(k=20, score_func=f_regression)
    skb.fit(X_train, y_train)
    
    skb_feats = x.columns[skb.get_support()]
    
    skb_list.append(skb_feats)
    
    return skb_list

In [7]:
db_skb_feats = skb_top_feats(db_x_1, db_y_1)
db_skb_feats

[Index(['feat_003', 'feat_257', 'feat_269', 'feat_308', 'feat_315', 'feat_336',
        'feat_341', 'feat_395', 'feat_504', 'feat_557', 'feat_681', 'feat_701',
        'feat_724', 'feat_736', 'feat_769', 'feat_783', 'feat_808', 'feat_829',
        'feat_867', 'feat_920'],
       dtype='object')]

In [25]:
db_skb_feats = ['feat_003', 'feat_257', 'feat_269', 'feat_308', 'feat_315', 'feat_336',
        'feat_341', 'feat_395', 'feat_504', 'feat_557', 'feat_681', 'feat_701',
        'feat_724', 'feat_736', 'feat_769', 'feat_783', 'feat_808', 'feat_829',
        'feat_867', 'feat_920']
for i in db_skb_feats:
    if i in top_20:
        print(i)

feat_257
feat_269
feat_308
feat_315
feat_336
feat_341
feat_395
feat_504
feat_681
feat_701
feat_724
feat_736
feat_769
feat_808
feat_829
feat_867
feat_920

# Correlation Matrix Method

In [29]:
corr_df = db_x_1.corr().abs()
for i in corr_df.columns:
    corr_df.loc[i,i] = 0
corr_list = corr_df.max().sort_values(ascending=False)[:20]

corr_list = pd.DataFrame(corr_list)
corr_list.sort_index(ascending=True)

In [40]:
corr_list.sort_index(ascending=True)

                 0
feat_257  0.748267
feat_269  0.823392
feat_308  0.703750
feat_315  0.902639
feat_336  0.816354
feat_341  0.793346
feat_395  0.859410
feat_504  0.706450
feat_526  0.705698
feat_639  0.979164
feat_681  0.706450
feat_701  0.902639
feat_724  0.859410
feat_736  0.717377
feat_769  0.782856
feat_808  0.748267
feat_829  0.736496
feat_867  0.816354
feat_920  0.613241
feat_956  0.979164